<!DOCTYPE html>
<html>
  <head>

    <title>Sortable. No jQuery.</title>


  </head>
  <body>

    <!-- Connected lists -->
    <div class="container" style="height: 520px">
      <div data-force="30" class="layer block" style="left: 14.5%; top: 0; width: 37%">
	<div class="layer title">List A</div>
	<ul id="foo" class="block__list block__list_words">
	</ul>
      </div>

      <div data-force="18" class="layer block" style="left: 58%; top: 143px; width: 40%;">
	<div class="layer title">List B</div>
	<ul id="bar" class="block__list block__list_tags">
	</ul>
      </div>
    </div>


    <!-- Editable list -->
    <div class="container" style="margin-top: 100px">
      <div id="filter" style="margin-left: 30px">
	<div><div data-force="5" class="layer title title_xl">Editable list</div></div>

	<div style="margin-top: -8px; margin-left: 10px" class="block__list block__list_words">
	  <ul id="editable">
	    <li>Оля<i class="js-remove">✖</i></li>
	    <li>Владимир<i class="js-remove">✖</i></li>
	    <li>Алина<i class="js-remove">✖</i></li>
	  </ul>

	  <button id="addUser">Add</button>
	</div>
      </div>
    </div>

    <script src="/static/js/Sortable.js"></script>
    <script src="/static/js/Ply.min.js"></script>
    <script src="/static/js/app.js"></script>

  </body>
</html>
