{% extends "template.html" %} {% block title %} Potato Productivity {% endblock title %} {% block content %}
<br>
<br>
<hr>
<h1 style="font-size:4em;font-weight:900">Potato Productivity</h1>
<hr>
<br>
<br>

<div class="row">
    <div class="small-10 columns small-offset-1" id="timerChoice">

        <br>
        <h2 style="color:white;">Please choose a timer...</h2>
        <br>

        <div class="row">
            <div class="small-5 small-offset-1 columns">
                <div class="callout">

                    <a href="/timer" class="button large"><img src="/static/images/tomato.png" height=15% width=15%>&nbsp;&nbsp;&nbsp;Pomodoro</a>

                    <p>A default Pomodoro Timer consists of a 25-minute work period followed by a 5-minute break.</p>

                </div>
            </div>

            <div class="small-5 columns">
                <div class="callout">

                    <a href="/timer" class="button large"><img src="/static/images/gear.png" height=20% width=20%>&nbsp;&nbsp;&nbsp;Custom</a>

                    <p>Pomodoro not fitting your needs? Customize your productivity with a Custom Timer!</p>

                </div>
            </div>

            <div class="small-1 columns">
                &nbsp;
            </div>

        </div>
    </div>

</div>

{% endblock content %}
