{% extends "template.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<form data-abide novalidate method="POST">
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> There are some errors in your form.</p>
  </div>
  <div class="row">

    <!-- USERNAME FIELD !-->
    <div class="small-12 columns">
      <label>Username:
        <input type="text" placeholder="Example: donger24" aria-describedby="exampleHelpText" required pattern="number">
        <span class="form-error">
          How you finna log in without a username?
        </span>
      </label>
      <p class="help-text" id="exampleHelpText">Type your username!!</p>
    </div>
    <!-- END USERNAME FIELD !-->

    <!-- PASSWORD FIELD !-->
    <div class="small-12 columns">
      <label>Password:
        <input type="password" id="password" placeholder="Example: poopernachos" aria-describedby="exampleHelpText" required >
        <span class="form-error">
          I'm required!
        </span>
      </label>
      <p class="help-text" id="exampleHelpText">Enter a password please!!</p>
    </div>
    <!-- END PASSWORD FIELD !-->

    <!-- SUBMIT BUTTONS !-->
    <div class="row">
      <fieldset class="large-6 columns">
	<button class="button" name="login" value="login">Login!</button>
      </fieldset>
    </div>
    <!-- END SUBMIT BUTTONS !-->
</form>
<br>
<a href="/register">Need to make an account?</a>

{% endblock content %}
