{% extends "template.html" %} {% block title %} Login {% endblock title %} {% block content %}
<br>
<br>
<br>
<form data-abide novalidate method="POST">
    <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> There are some errors in your form.</p>
    </div>
    <center>
        <div class="callout text-center" style="width: 70%; border-radius:30px;">
            <h1>Make an Account</h1>
            <br>
            <div class="row">
                <div class="small-2 columns">&nbsp;</div>
                <!-- USERNAME FIELD !-->
                <div class="small-8 columns">
                    <label>
                        Username
                        <input type="text" name="username" aria-describedby="exampleHelpText" required pattern="number">
                        <span class="form-error">
            How you finna log in without a username?
            </span>
                    </label>

                    <!-- END USERNAME FIELD !-->
                    <br>
                    <!-- PASSWORD FIELD !-->
                    <label>
                        Password
                        <input type="password" name="password" id="password" aria-describedby="exampleHelpText" required>
                        <span class="form-error">
            I'm required!
            </span>
                    </label>
                    <!-- END PASSWORD FIELD !-->
                    <!-- CONFIRM PASSWORD FIELD !-->
                    <label>
                        Repeat Password
                        <input type="password" name="confirm" aria-describedby="exampleHelpText" required>
                        <span class="form-error">
              Hey, passwords are supposed to match!
            </span>
                    </label>
                    <!-- END CONFIRM PASSWORD FIELD !-->
                </div>
                <div class="small-2 columns">&nbsp;</div>
            </div>
            <br>
            <br>
            <!-- SUBMIT BUTTON !-->
            <button class="button" name="register" value="register">Register!</button>
            <!-- END SUBMIT BUTTON !-->
            <br>
            <br>
            <br>
            <a href="/login">Already have an account?</a>
        </div>
    </center>
</form>
{% endblock content %}