<!DOCTYPE html>
<html>

  <title>registration</title>

  <body>
    <h1>register</h1>
    <h2> user info</h2>
    <form action="/auth" method="POST">
      Username:
      <input type="text" name="username" maxlength="32"> <br><br>
      Password:
      <input type="password" name="password"> <br><br>
      Confirm Password:
      <input type="password" name="confirmpass"> <br><br>
      <h2>personal info</h2>
      First Name:
      <input type="text" name="firstname" maxlength="32"> <br><br>
      Last Name:
      <input type="text" name="lastname" maxlength="32"> <br>
      <input type="submit" value="register">
    </form>
  </body>
</html>
