<!DOCTYPE html>
<html>
  <head> 
    <title>registration</title>
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/app.css">
  </head>

  <body>
    <h1>register here!!!</h1>
    <form data-abide novalidate method="POST">
      <div data-abide-error class="alert callout" style="display: none;">
	<p><i class="fi-alert"></i> There are some errors in your form.</p>
      </div>
      <div class="row">

	<!-- USERNAME FIELD !-->
	<div class="small-12 columns">
	  <label>Username:
            <input type="text" name="username" placeholder="Example: donger24" aria-describedby="exampleHelpText" required>
            <span class="form-error">
              How you finna log in without a username?
            </span>
	  </label>
	  <p class="help-text" id="exampleHelpText">Type your username!!</p>
	</div>
	<!-- END USERNAME FIELD !-->

	<!-- PASSWORD FIELD !-->
	<div class="small-12 columns">
	  <label>Password:
            <input type="password" name="password" placeholder="Example: poopernachos" aria-describedby="exampleHelpText" required >
            <span class="form-error">
              I'm required!
            </span>
	  </label>
	  <p class="help-text" id="exampleHelpText">Enter a password please!!</p>
	</div>
	<!-- END PASSWORD FIELD !-->

	<!-- CONFIRM PASSWORD FIELD !-->
	<div class="small-12 columns">
	  <label>Re-enter Password:
            <input type="password" name="confirm" placeholder="Example: poopernachos" aria-describedby="exampleHelpText2" required pattern="alpha_numeric" data-equalto="password">
            <span class="form-error">
              Hey, passwords are supposed to match!
            </span>
	  </label>
	  <p class="help-text" id="exampleHelpText2">Please confirm your password!!</p>
	</div>
	<!-- END CONFIRM PASSWORD FIELD !-->

	<!-- SUBMIT BUTTON !-->
	<div class="row">
	  <fieldset class="large-6 columns">
	      <button class="button" name="register" value="register">Register!</button>
	  </fieldset>
	</div>
	<!-- END SUBMIT BUTTON !-->
    </form>
  </body>
</html>
