<!DOCTYPE html>
<html>

  {% block head %}
  <head>
    <title>
      {% block title %}
      CHANGE THE TITLE
      {% endblock title %}
    </title>

    <link href="/static/css/ply.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.css">
    <link href="/static/css/app.css" rel="stylesheet" type="text/css"/>
  </head>
  {% endblock head %}

  <body>
    <!-- NAV BAR AT THE TOP !-->
    <div class="top-bar">
      <div class="top-bar-left">
	<ul class="dropdown menu" data-dropdown-menu>
	  <li class="menu-text">Portarto</li>
	  <li><a href="/">Home</a></li>
	  {% if "user_id" not in session %}
	  <li><a href="/login">Login</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>
    <!-- END NAV BAR !-->
    
    {% block content %}

    
    {% endblock content %}

    <script src="/static/js/Sortable.js"></script>
    <script src="/static/js/Ply.min.js"></script>
    <script src="/static/js/app.js"></script>

  </body>

</html>
