{% extends "template.html" %} {% block title %} Potato Productivity {% endblock title %} {% block content %}
<br><br>
<h1 style="font-weight:900">Potato Timer <div style="display:inline; text-transform:uppercase; color:darkred" id="intervalName"></div></h1>
<p id="time">Starting timer...</p>


<!-- CONNECTED LISTS -->
<div class="kek" style="height:0px">
  <div data-force="30" class="layer block" style="left: 14.5%; top: 0; width: 37%">
    <ul id="foo" class="block__list block__list_words">
    </ul>
  </div>
  <div data-force="18" class="layer block" style="left: 58%; top: 143px; width: 40%;">
    <ul id="bar" class="block__list block__list_tags">
    </ul>
  </div>
</div>
<!-- END CONNECTED LISTS -->


<!-- EDITABLE LIST -->
<div class="container">
  <div id="filter">
    <div>
      <div data-force="5" class="layer title title_xl">To-Do List
        </div>
        <br>
        This may or may not work...
    </div>

    <div class="block__list block__list_words">
      <ul id="editable">
      </ul>

      <button id="addUser">Add</button>
    </div>
  </div>
</div>
<!-- END EDITABLE LIST -->

<br>
<br>

<!-- SONGS !-->
<iframe src="/songform" style="border:none; border-radius:30px" height=700px width=50%></iframe>
<script type="text/javascript" src="/static/js/timer.js"></script>
<script>
  {% if "intervals" in session %}
    {% if "custom" in session and session["custom"] %}
        window.onload = setupTimer(JSON.parse(`{{ session["intervals"] | safe }} `));
     {% else %}
  var r = confirm("You have an existing timer in session. Would you like to resume?");
   if (r == true) {
       document.getElementById("time").textContent = "Resuming your timer...";
       window.onload = setupTimer(JSON.parse(`{{ session["intervals"] | safe }} `));
   } else {
        window.onload = setupTimer();
   }
  {% endif %}
  {% else %}
  window.onload = setupTimer(); 
  {% endif %}
  
  
  {% if taskList is defined and taskList %}
  taskList = {{taskList}};
  var editableList = document.getElementById("editable");
  for (var i = 0; i < {{taskList}}.length; i++) {
      var newItem = document.createElement("li");
      newItem.innerHTML = {{taskList}}[i] + '<i class="js-remove">x</i>';
      editableList.appendChild(newItem);
  }
   
   {% endif %}
  
  
  
</script>


{% endblock content %}
